github-nca-toolkit-shorts-automation.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "nca-toolkit url/v1/video/caption",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"video_url\": \"{{ $json.response[0].file_url }}\",\n    \"settings\": {\n      \"font_family\": \"Arial\",\n      \"font_size\": 48,\n      \"bold\": false,\n      \"italic\": false,\n      \"all_caps\": false,\n      \"line_color\": \"#FFFFFF\",\n      \"word_color\": \"#FFFF00\",\n      \"outline_color\": \"#000000\",\n      \"outline_width\": 3,\n      \"shadow_offset\": 2,\n      \"position\": \"middle_center\",\n      \"alignment\": \"center\",\n      \"style\": \"classic\",\n      \"max_words_per_line\": 10\n    }    \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        240
      ],
      "id": "fceb10d9-9454-4199-b84b-c23ccf9af4ce",
      "name": "加字幕",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "audio-for-process url",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        240
      ],
      "id": "6d38c0de-fae3-49a6-bc6e-c2fbe1261b44",
      "name": "搜索Google Drive音频文件"
    },
    {
      "parameters": {
        "url": "={{ $json.response }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        240
      ],
      "id": "2f5725b3-8bf4-4c27-a2b0-2cec932a400c",
      "name": "视频URL变成二进制文件"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=audio file id",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2000,
        240
      ],
      "id": "a1e0feed-f647-46b5-b220-c0907b0b5fe1",
      "name": "下载已处理的音频"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Qew9v5Tfr8eDxDJ3Rvc1fbdeAKCQPcAX",
          "mode": "list",
          "cachedResultName": "audio-processed",
          "cachedResultUrl": "https"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2220,
        240
      ],
      "id": "d5109613-8132-489d-b020-d71070471f1c",
      "name": "把已处理音频放到已处理文件夹，标记已处理",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('搜索Google Drive音频文件').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2440,
        240
      ],
      "id": "b3de164b-9905-4e02-94f0-2f40b51d71ff",
      "name": "在未处理文件夹删除已处理的音频"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "94386b1c-15ba-42ad-beff-dfbf293b0a58",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { page: Math.floor(Math.random() * 50) + 1 } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        240
      ],
      "id": "36e68663-185b-4bbe-a786-91e00b4a0679",
      "name": "生成随机页码作为请求参数"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "={{ $('搜索Google Drive音频文件').item.json.name.replace(/\\.mp3$/, '')  }}.mp4",
        "parents": [
          "video-done id"
        ],
        "options": {}
      },
      "id": "14faca79-9e45-4ce4-8fbd-3fc34902b804",
      "name": "上传二进制视频文件到Google drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1780,
        240
      ],
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        240
      ],
      "id": "699b2c67-7094-4531-80d0-9a9a06e96f19",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "nca-toolkit url/v1/ffmpeg/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('搜索Google Drive音频文件').item.json.id }}\",\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $json.photos[0].src.portrait }}\",\n      \"options\": [\n        {\n          \"option\": \"-loop\",\n          \"argument\": 1\n        }\n      ]\n    },\n    {\n      \"file_url\": \"https://drive.google.com/uc?export=download&id={{ $('搜索Google Drive音频文件').item.json.id }}\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[0:v]scale=720:1280:force_original_aspect_ratio=decrease,pad=720:1280:(ow-iw)/2:(oh-ih)/2:color=black,format=yuv420p[v]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[v]\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"1:a\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"libx264\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        },\n        {\n          \"option\": \"-shortest\"\n        }\n      ]\n    }\n  ],\n  \"metadata\": {\n    \"duration\": true,\n    \"filesize\": true,\n    \"thumbnail\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        240
      ],
      "id": "3c2d8827-731a-4a11-a056-524cea458cd5",
      "name": "生成视频",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "Get audio file id",
        "height": 280,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        160
      ],
      "typeVersion": 1,
      "id": "218e622a-80af-4019-9d6d-08ae74a2e02d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Get background image",
        "height": 280,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        160
      ],
      "typeVersion": 1,
      "id": "2d6ad19e-8964-42f1-96f5-e2d89a0018dd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "make video",
        "height": 280,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        160
      ],
      "typeVersion": 1,
      "id": "126fc522-7670-4e3d-87d8-50d810db342a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "upload video",
        "height": 280,
        "width": 440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        160
      ],
      "typeVersion": 1,
      "id": "06d2d1d4-d778-4317-9b3b-2842d6e4ade0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "change audio file location",
        "height": 280,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        160
      ],
      "typeVersion": 1,
      "id": "9430b3a1-c615-474c-81aa-9dd9c69b2b1f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query=mountains&per_page=1&size=large",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "={{ $json.page }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        240
      ],
      "id": "cecb532d-d99b-4a21-b916-147304ebd56c",
      "name": "搜索图片"
    },
    {
      "parameters": {
        "url": "={{ $json.photos[0].src.portrait }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('搜索图片').item.json.photos[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        240
      ],
      "id": "093d60cc-a3f9-4083-acd1-d144655cceaf",
      "name": "下载图片"
    }
  ],
  "pinData": {},
  "connections": {
    "加字幕": {
      "main": [
        [
          {
            "node": "视频URL变成二进制文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "搜索Google Drive音频文件": {
      "main": [
        [
          {
            "node": "生成随机页码作为请求参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "视频URL变成二进制文件": {
      "main": [
        [
          {
            "node": "上传二进制视频文件到Google drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载已处理的音频": {
      "main": [
        [
          {
            "node": "把已处理音频放到已处理文件夹，标记已处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "把已处理音频放到已处理文件夹，标记已处理": {
      "main": [
        [
          {
            "node": "在未处理文件夹删除已处理的音频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成随机页码作为请求参数": {
      "main": [
        [
          {
            "node": "搜索图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传二进制视频文件到Google drive": {
      "main": [
        [
          {
            "node": "下载已处理的音频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "搜索Google Drive音频文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成视频": {
      "main": [
        [
          {
            "node": "加字幕",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "搜索图片": {
      "main": [
        [
          {
            "node": "下载图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载图片": {
      "main": [
        [
          {
            "node": "生成视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5221f1b-5587-47b4-9c20-47c8dca380f1",
  "meta": {
    "instanceId": "3279ccf41e4f2732f4cf0994d0df6e2656406cad7dde304948d307480e0b4ebc"
  },
  "id": "TdeAFY5e6turvdHf",
  "tags": []
}